---
title: Szobabútor, Konyhabútor
tags: [ page, ]
thumbnail: "/images/szobabutor.jpg"
thumbnail_alt_text: Szobabútor, Konyhabútor
summary: Szobabútor, Konyhabútor
sort_weight: 2
---

%h1= current_page.data.title

- products = data.termekek.konyhabutor
= partial "product-gallery", :locals => { :products => products }

