---
title: Egyedi Beépített Szekrény
tags: [ page, ]
thumbnail: "/images/szekreny.jpg"
thumbnail_alt_text: Egyedi Beépített Szekrény
summary: Egyedi Beépített Szekrény
sort_weight: 4
---

%h1= current_page.data.title

- products = data.termekek.szekreny
= partial "product-gallery", :locals => { :products => products }
