---
title: Egyedi Lakásbelső
tags: [ page, ]
thumbnail: "/images/lakasbelso.jpg"
thumbnail_alt_text: Egyedi Lakásbelső
summary: Egyedi Lakásbelső
sort_weight: 4
---

%h1= current_page.data.title

- products = data.termekek.lakasbelso
= partial "product-gallery", :locals => { :products => products }

