---
title: Fa Asztallábak és Bútorlábak
tags: [ page, ]
thumbnail: "/images/pic01.jpg"
thumbnail_alt_text: Fa Asztallábak és Bútorlábak
summary: Fa Asztallábak és Bútorlábak
sort_weight: 2
---

%ul
  - data.termekek.labak.each do |item|
    %li= item.title
