---
title: Fűszeres fakanál
tags: [ page, ]
thumbnail: "/images/pic01.jpg"
thumbnail_alt_text: Fűszeres fakanál
summary: Fűszeres fakanál
sort_weight: 4
---

%ul
  - data.termekek.fakanal.each do |item|
    %li= item.title
