---
title: Tömegcikkek
tags: [ page, ]
thumbnail: "/images/pic01.jpg"
thumbnail_alt_text: "Tömegcikkek"
summary: "Tömegcikkek"
sort_weight: 5
---

%ul
  - data.termekek.tomegcikkek.each do |item|
    %li= item.title
