---
title: Lépcsők
tags: [ page, ]
thumbnail: "/images/lepcsok.jpg"
thumbnail_alt_text: Lépcsők
summary: "Esztergált lépcsőkorlátok és oszlopok"
sort_weight: 2
---

%h1 Esztergált lépcsőkorlátok és oszlopok

- products = data.termekek.lepcsok
= partial "product-gallery", :locals => { :products => products }
