---
title: Lámpák
tags: [ page, ]
thumbnail: "/images/lampak.jpg"
thumbnail_alt_text: Antik asztali lámpa, állólámpa
summary: Antik asztali lámpa, állólámpa
sort_weight: 4
---

%h1 Antik asztali lámpa, állólámpa

- products = data.termekek.lampak
= partial "product-gallery", :locals => { :products => products }

