---
title: Fajáték Alkatrészek
tags: [ page, ]
thumbnail: "/images/fajatek.jpg"
thumbnail_alt_text: Fajáték Alkatrészek
summary: Fajáték Alkatrészek
sort_weight: 4
---

%h1= current_page.data.title

- products = data.termekek.fajatek
= partial "product-gallery", :locals => { :products => products }

