---
title: Tömegcikkek
tags: [ page, ]
thumbnail: "/images/tomegcikkek.jpg"
thumbnail_alt_text: Tömegcikkek
summary: Esztergált Tömegcikkek
sort_weight: 5
---

%h1= current_page.data.title

- products = data.termekek.tomegcikkek
= partial "product-gallery", :locals => { :products => products }

