---
title: Fa Asztallábak és Bútorlábak
tags: [ page, ]
thumbnail: "/images/asztallabak.jpg"
thumbnail_alt_text: Fa Asztallábak és Bútorlábak
summary: Fa Asztallábak és Bútorlábak
sort_weight: 3
---

%h1= current_page.data.title

- products = data.termekek.asztallabak
= partial "product-gallery", :locals => { :products => products }
