---
title: Asztalok
tags: [ page, ]
thumbnail: "/images/pic01.jpg"
thumbnail_alt_text: "Asztalok"
summary: "Asztalok"
sort_weight: 3
---

%ul
  - data.termekek.asztalok.each do |item|
    %li= item.title
