---
title: Konyhabútor, szobabútor
tags: [ page, ]
thumbnail: "/images/pic01.jpg"
thumbnail_alt_text: Konyhabútor, szobabútor
summary: Konyhabútor, szobabútor
sort_weight: 4
---

%ul
  - data.termekek.konyhabutor_szobabutor.each do |item|
    %li= item.title
