%section.cards.row
  - products.each_with_index do |item, idx|
    /%a.image-link{:href => "#{item.image}"}
    %article.card{:class => ""}
      .card-image{:style => "background-image: url(#{item.image_small});"}
      .card-header
      .card-copy
        %p= item.description
