%section.cards.row
  - products.each_with_index do |item, idx|
    %article.card.mag-image{:class => "", "data-mfp-src" => "#{item.image}"}
      .card-image{:style => "background-image: url(#{item.image_small});"}
      .card-header
      .card-copy
        %p= item.description
