---
title: Pályázatok
footer_hide_contacts: false
---

%h1 Pályázatok

%p
  %span.image
    %img{:alt => "MFF Széchenyi Terv Logo", :src => "/images/mff-info-logo.jpg", :width => 600}/

%h2 Fa Brikettáló Gép

%table
  %colgroup
    %col{:style => "width: 29%"}/
    %col{:style => "width: 70%"}/
  %tbody
    %tr.odd
      %td Kedvezményezett neve:
      %td Nyitrai László egyéni vállalkozó
    %tr.even
      %td A fejlesztés tárgya célja:
      %td Fejlesztés, eszközbeszerzés Nyitrai László egyéni vállalkozónál
    %tr.odd
      %td A szerződött támogatás összege:
      %td 3 155 679 Ft
    %tr.even
      %td A projekt szakmai tartalma:
      %td
        %p A projekt során az alábbi eszköz került beszerzésre:
        %p - FALACH 50 brikettáló gép hosszított hűtőpályával
        %p
          Eszközparkunk felszerelt volt, azonban a folyamatos fejlesztés
          elengedhetetlen annak érdekében, hogy a piacon versenyképesek
          maradjunk.
        %p
          A gép segítségével a nem felhasználható anyagokat is tudjuk
          hasznosítani, amely környezetvédelmi és fenntarthatósági szempontból is
          fontos. A vállalkozás árbevétele növekedésnek indul, megrendelőink száma
          megnő.
        %p A projekt az eredeti célok szerint maximálisan megvalósult.
    %tr.odd
      %td A projekt befejezési dátuma:
      %td 2022.10.20.
    %tr.even
      %td Pályázati azonosító:
      %td GINOP_PLUSZ-1.2.2-22-2022-02368

%p
  %span.image
    %img{:alt => "Fa Brikettáló Gép", :src => "/images/fa-brikettalo-gep.jpg", :width => 600}/
